*.js
!jest.config.js
node_modules

.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache
/cdk.context.json
/cdk/cdk.context.json
/cdk/GamingOnEc2.pem

cloud-gaming-on-ec2-instances.iml
keys
*.pem
